html {
  font-size: 10px;
}

.App {
  text-align: center;;
}

.title {
  font-size: 10rem;
  color: rgb(158, 190, 12);
}

.score {
  font-size: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(183, 211, 58);
  
  width: 40rem;
  height: 40rem;
  margin: auto;
  align-items: center;
  border-radius: 2rem;
}

.gridElement{
  font-size: 6rem;
  color: rgb(196, 33, 12);
  background-color: rgb(206, 97, 20);
  border-radius: 2rem;
  margin: 1rem;
}
