html {
  font-size: 10px;
}

.App {
  text-align: center;;
}

.title {
  font-size: 10rem;
  color: rgb(158, 190, 12);
}

.score {
  font-size: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(183, 211, 58);
  
  width: 40rem;
  height: 40rem;
  /* margin: 0 40rem 40rem 10rem; */
  align-items: center;
  border-radius: 2rem;
}

.gridElement{
  font-size: 5rem;
  color: rgb(196, 33, 12);
  border-radius: 2rem;
  margin: 1rem;
  background-color: white;
}

.arrowKeys{
  align-self: center;
  width: 20rem;
  height: 20rem;
  padding-left: 30rem;
}

.arrowKeys button{
  width: 10rem;
  height: 3rem;
  
}

.up button,.down button{
  width: 4rem;
  height: 7rem;
}

.leftright button{
  width: 4rem;
  height: 7rem;
  margin: 0 2rem;
}

.container{
  display: flex;
  
}